// Заголовки, общие БЄМ блоки и проче...
.page {
	// .page__who-we
	&__who-we {
		@include adaptiveValue("padding-top", 154, 61);
		@include adaptiveValue("padding-bottom", 80, 30);
	}
	&__services {
		@include adaptiveValue("padding-top", 80, 30);
		@include adaptiveValue("padding-bottom", 250, 250);
	
	}
}
//===========
.sharpe {
	position: absolute;
	@include adaptiveValue("width", 641, 400);
	@include adaptiveValue("height", 641, 400);
	border-radius: 50%;
	z-index: -1;
	//-----
	// transform: translate( %, %); //позицианирование
	//-----
}
