// Заголовки, общие БЄМ блоки и проче...
.page {
	// .page__who-we
	&__who-we {
		@include adaptiveValue("padding-top", 251, 251);
		@include adaptiveValue("padding-bottom", 90, 50);
	}
	&__services {
		// @include adaptiveValue("padding-top", 100, 50);
		@include adaptiveValue("padding-bottom", 560, 260);
	
	}
}
//===========
.sharpe {
	position: absolute;
	top: 0;
	left: 0;
	@include adaptiveValue("width", 641, 300);
	@include adaptiveValue("height", 641, 300);
	border-radius: 50%;
	z-index: -1;
	//-----
	// transform: translate( %, %); //позицианирование
	//-----
}
