// Заголовки, общие БЄМ блоки и проче...
.page {
	// .page__who-we
	&__who-we {
		@include adaptiveValue('margin-top', 154, 70);
	}
	// .page__services
	&__services {
	}
	// .page__featured-work
	&__featured-work {
	}
	// .page__work-process
	&__work-process {
	}
	// .page__we-create
	&__we-create {
	}
	// .page__values
	&__values {
	}
	// .page__articles
	&__articles {
	}
	// .page__brands
	&__brands {
	}
	// .page__whats-new
	&__whats-new {
	}
	// .page__lets-work
	&__lets-work {
	}
}
//===========
.sharpe {
	position: absolute;
	top: 0;
	left: 0;
	@include adaptiveValue('width', 641, 300);
	@include adaptiveValue('height', 641, 300);
	background: url('@img/bg-shapes.svg') 0 0 / contain no-repeat;
	z-index: -1;
	//-----
	// transform: translate( %, %); //позицианирование
	//-----
}
