//~~

.featured-work {
	height: 1580px;
	@media (max-width: em(1160)) {
		height: 1480px;
	}

	@media (max-width: em(1060)) {
		height: auto;
	}

	// .featured-work__container
	&__container {
		display: flex;
		flex-direction: column;
		height: 100%;

		@media (max-width: $mobile) {
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}
	// .featured-work__header
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-around;
		align-items: flex-start;
		margin-bottom: 50px;
		width: 100%;

		& > span {
			display: block;
			width: 70px;
			height: 1px;
			background: #0e0e0e;
			@include adaptiveValue('margin-top', 66, 40);

			@media (max-width: $mobile) {
				@include adaptiveValue('margin-top', 66, 20);
			}
		}

		@media (max-width: $mobile) {
			flex-direction: column;
			align-items: center;
		}
	}
	// .featured-work__header-title
	&__header-title {
		@include adaptiveValue('font-size', 100, 35);
		@include adaptiveValue('width', 425, 200);

		@media (max-width: $mobile) {
			width: 100%;
			text-align: center;
		}
	}
	// .featured-work__header-button
	&__header-button {
		@include adaptiveValue('margin-top', 40, 20);
	}
	// .featured-work__content
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		@media (max-width: em(1060)) {
			gap: 50px;
		}
	}
	// .featured-work__content-top
	&__content-top {
		display: flex;
		justify-content: space-between;
		gap: 30px;
		height: 100%;

		@media (max-width: $mobile) {
			flex-direction: column;
			align-items: center;
		}
	}
	// .featured-work__content-bottom
	&__content-bottom {
		display: flex;
		justify-content: space-between;
		gap: 30px;
		height: 100%;
		align-items: flex-end;

		@media (max-width: $mobile) {
			flex-direction: column;
			align-items: center;
		}
	}
	// .featured-work__content-item
	&__content-item {
		max-width: 600px;
		max-height: 523px;
	}
	// .featured-work__content-item-small-1
	&__content-item-small-1 {
		position: relative;
		@include adaptiveValue('width', 370, 300);
		@include adaptiveValue('top', 160, 0);
		@include adaptiveValue('left', 100, 0);

		@media (max-width: em(1060)) {
			top: 0;
			left: 0;
		}
		@media (max-width: $mobileSmall) {
			width: 100%;
		}
	}
	// .featured-work__content-item-small-2
	&__content-item-small-2 {
		position: relative;
		@include adaptiveValue('width', 370, 200);
		@include adaptiveValue('bottom', 160, 0);
		@include adaptiveValue('right', 100, 0);

		@media (max-width: em(1060)) {
			top: 0;
			left: 0;
		}
		@media (max-width: $mobileSmall) {
			width: 100%;
		}
	}
	// .featured-work__content-item-big-1
	&__content-item-big-1 {
	}
	// .featured-work__content-item-big-2
	&__content-item-big-2 {
	}
	// .featured-work__images
	&__images {
		@include adaptiveValue('height', 428, 300);
	}
	// .featured-work__img
	&__img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	// .featured-work__title
	&__title {
		font-size: 24px;
		font-weight: 500;
		margin-top: 34px;
		line-height: 34px;
	}
	// .featured-work__description
	&__description {
		font-size: 15px;
		font-weight: 500;
		margin-top: 8px;
	}
}
