//===========================
.values {
	// .values__container
	&__container {
	}
	// .values__title
	&__title {
		text-align: center;
		font-weight: 500;
		@include adaptiveValue("font-size", 100, 48);
		line-height: 116%;
		@include adaptiveValue("margin-bottom", 86, 25);
	}
	// .values__slider
	&__slider {
		overflow: hidden;
		@media (max-width: 640px){
			 max-width: toRem(435); 
			 margin: 0 auto;
		}
	}
	// .values__wrapper
	&__wrapper {
		margin-bottom: toRem(86);
		@include adaptiveValue("margin-bottom", 86, 50);
	}
	// .values__slide
	&__slide {
		
	}
	// .values__item
	&__item {
	}
}

.item-values {
	display: flex;
	
	@include adaptiveValue("gap", 30, 15);
	@media (max-width:$mobile){
	}
	// .item-values__image-ibg
	&__image-ibg {
		height: toRem(70);
		flex: 0 0 70px;
		img {
		}
	}
	// .item-values__body
	&__body {
		display: flex;
		flex-direction: column;
		gap: toRem(18);
	}
	// .item-values__title
	&__title {
		font-weight: 500;
		@include adaptiveValue("font-size", 24, 18);
		line-height: 132%;
	}
	// .item-values__text
	&__text {
		line-height: 142%;
	}
	// .item-values__button
	&__button {
		font-weight: 500;
		@include adaptiveValue("font-size", 16, 14);
		line-height: 162%;
		span {
			position: relative;
			&::before {
				content: "";
				position: absolute;
				width: 16px;
				height: 8px;
				top: 50%;
				right: -33px;
				transform: translate(0px,-30%);
				background: url('@img/values/arrow.svg') 0 0 / contain no-repeat;
			}
		}
	}
}
.swiper-scrollbar {
	display: flex;
	align-items: center;
	// padding-top: toRem(50);
	// margin-top: toRem(50);
	margin: 0 auto;
	height: toRem(2);
	max-width: toRem(370) !important;
	background-color: #DDDDDD;
}
.swiper-scrollbar-drag {
	// width: toRem(25);
	cursor: pointer;
	background-color: #0E0E0E;
	height: toRem(2);
}

//===========================
