//~~

.whats-new {
	min-height: 672px;
	height: 100%;

	// .whats-new__container
	&__container {
	}
	// .whats-new__header
	&__header {
	}
	// .whats-new__title
	&__title {
		font-size: 48px;
		text-align: center;
		margin-bottom: 91px;
	}
	// .whats-new__content
	&__content {
		display: flex;
		justify-content: center;
		height: 100%;
		gap: 30px;
		flex-wrap: wrap;
	}
	// .whats-new__card
	&__card {
		width: 370px;
		height: toRem(387);
	}
	// .whats-new__card-images
	&__card-images {
		max-height: 300px;
		height: 100%;
		width: 100%;
	}
	// .whats-new__card-img
	&__card-img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	// .whats-new__card-title
	&__card-title {
		font-size: toRem(20);
		font-weight: 500;
		line-height: 30px;
		padding-top: 27px;
	}
	// .whats-new__card-date
	&__card-date {
		display: none;
	}
	// .whats-new__link
	&__link {
		margin-top: 82px;
		text-align: center;
	}
}
