//==============================================================
.who-we {
	position: relative;
	&__sharpe {
		transform: translate(-123px, -303px);
		left: 0;
		top: 0;
		// background: #F5F5F5;
		background: #F5F5F5;
	}
	// .who-we__container
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	// .who-we__titles
	&__titles {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		@include adaptiveValue("gap", 22, 18);
		@include adaptiveValue("margin-bottom", 93, 30);
	}
	// .who-we__subtitle
	&__subtitle {
		font-weight: 500;
	}
	// .who-we__title
	&__title {
		font-weight: 500;
		@include adaptiveValue("font-size", 34, 16);
		line-height: 129%;
		max-width: toRem(615);
	}
	// .who-we__body
	&__body {
		display: flex;
		@include adaptiveValue("gap", 109, 30);
		max-width: toRem(963);
		justify-content: space-between;
		@media (max-width: $mobileSmall) {
			flex-direction: column;
		}
	}
	// .who-we__item
	&__item {
		flex: 1 1 50%;
		p {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 51, 30);
			}
			@include adaptiveValue("font-size", 18, 16);
			line-height: 159%;
		}
		&:nth-child(1) {
			max-width: toRem(395);
			padding-top: toRem(34);
			position: relative;
			&::before {
				content: "";
				width: 100%;
				height: 2px;
				position: absolute;
				top: 0;
				left: 0;
				background-color: rgb(0, 0, 0);
			}
		}
	}
	// .who-we__button
	&__button {
		@media (max-width: $mobileSmall) {
			width: 100%;
		}
	}
}
//==============================================================