//~~

.work-process {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #0e0e0e;
	position: relative;

	// .work-process__container
	&__container {
		position: relative;
		z-index: 21;
	}
	// .work-process__images
	&__images {
		position: absolute;
		right: 15%;
		transform: translate(0, -50%);
		z-index: 20;
		@include adaptiveValue('top', 340, 330);
		@include adaptiveValue('height', 212, 100);
		@include adaptiveValue('width', 212, 100);

		@media (max-width: $tablet) {
			opacity: 0.5;
		}
	}
	// .work-process__img
	&__img {
		height: 100%;
		width: 100%;
	}
	// .work-process__title
	&__title {
		font-size: 48px;
		color: #fff;
		margin-bottom: 74px;
	}
	// .work-process__tabs
	&__tabs {
		color: #fff;
	}
}

.tabs {
	display: flex;
	gap: 100px;
	@include adaptiveValue('gap', 100, 5);

	@media (max-width: $mobile) {
		flex-direction: column;
	}

	// .tabs__nav
	&__nav {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		min-width: 200px;

		@media (max-width: $mobile) {
			flex-direction: row;
			justify-content: space-between;
		}
	}
	// .tabs__button
	&__button {
		@include adaptiveValue('font-size', 24, 12);
		line-height: 65px;
		position: relative;
		color: #6f6f6f;
		transition:
			transform 0.2s ease-in-out,
			color 0.5s ease-in-out;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: -70px;
			transform: translateY(-70%);
			background: #fff;
			width: 0;
			height: 1px;
			transition: width 0.2s ease-in-out;

			@media (max-width: $mobile) {
				width: 0;
			}
		}

		&:hover::before {
			width: 40px;
		}
		&:hover {
			transform: translateX(30px);
			color: #fff;
		}

		&.tabs-active {
			&::before {
				width: 40px;
				@media (max-width: $mobile) {
					width: 0;
				}
			}
			color: #fff;
			transform: translateX(30px);

			@media (max-width: $mobile) {
				transform: translateX(0);
			}
		}
	}
	// .tabs__content
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	// .tabs__item
	&__item {
		display: none !important;
		max-width: 700px;
		height: 100%;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: flex-start;

		& *::-webkit-scrollbar {
			width: 5px;
			height: 5px;
		}
		& *::-webkit-scrollbar-track {
			background-color: #d9d9d9;
		}
		& *::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background: #10131f;
		}

		&.tabs-active {
			display: flex !important;
		}
	}
	// .tabs__text
	&__text {
		max-width: 400px;
		height: 140px;
		scroll-behavior: smooth;
		overflow: auto;
		font-size: 17px;
		@include adaptiveValue('font-size', 17, 12);
		line-height: 30px;
		padding-right: 10px;
		margin-bottom: 53px;

		@media (max-width: $mobile) {
			max-width: toRem(500);
		}
	}

	// .tabs__link
	&__link {
		align-self: center;
	}
}
